@page "/datacheck/file"

<h3><span class="oi oi-file" aria-hidden="true"></span> File Data Check</h3>
<hr />
<form>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputLineDataChecks">Line Data Checks</label>
            <input type="text" class="form-control" id="inputLineDataChecks" placeholder="Line Data Checks" @bind="lineDataChecks">
        </div>
    </div>
    <button type="button" @onclick="CalculateLineDataCheck" class="btn btn-primary">Calculate</button>
</form>
<hr />
<form>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputResult">Result</label>
            <input type="text" class="form-control" id="inputResult" placeholder="Result" @bind="result" readonly>
        </div>
    </div>

</form>

@code {
    string lineDataChecks { get; set; }
    string result { get; set; }
    void CalculateLineDataCheck()
    {
        result = EldEventInputHelper.GetFileDataCheck(lineDataChecks);
    }
}
